.main {
  width: 80%;
  margin: auto;
  text-align: center;
}

.correct{
  color: green;
}
.incorrect{
  text-decoration: line-through;
  color: red;
}

a:link, a:visited, a:hover, a:active {
  color: blue;
  text-decoration: underline;
}

.column-holder {
  display: flex;
  text-align: center;
}

.column {
  flex: 33%;
}