.main {
  width: 80%;
  margin: auto;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.banner {
  font-weight: bold;
  background-color: gainsboro;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 25px;
  margin-bottom: 5px;
}

.incorrect{
  text-decoration: line-through;
  color: red;
}
.correct{
  color: green;
}

a:link, a:visited, a:hover, a:active {
  color: blue;
  text-decoration: underline;
}

.column-holder {
  display: flex;
  text-align: left;
}

.column {
  flex: 33%;
}