.country{
  padding-left: 8px;
  padding-right: 8px;
  display: inline-block;
}


.main{
    width: 80%;
    margin: auto;
    text-align: center;
}

.odd{
    background-color:gray;
}

.even{
    background-color:white;
}

.bold{
    font-weight:bold;
}

.current{
    font-weight:bold;
    background-color: gainsboro;
}

#continents{
    width: 100%;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:active {
  color: black;
  text-decoration: none;
}

